#quotes{
    top:0;
    /* background-color: rgb(125, 128, 155); 
     background-color: transparent;
    text-align: center;
    padding: 2%;
    font-family: 'Lovers Quarrel', cursive;
    font-size: 70px; */
}